In [1]:
import pandas as pd
from tools.hand_parser import *
from random import choice
import warnings 
warnings.filterwarnings('ignore')

In [2]:
%%time
df = pd.read_csv("hand_combinations.csv", index_col=0).astype('int8')
df.rename(index=lambda i: i.replace("'", ""), inplace=True)
print(f"Memory usage: {round(sum(df.memory_usage(deep=True)) / 1024 / 1024, 1)}MB\n")
all_hands = list(df.index.values)
df

Memory usage: 433.2MB

CPU times: total: 15.1 s
Wall time: 15.1 s

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
"(♠A, ♠2, ♠3, ♠4, ♠5)",0,1,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
"(♠A, ♠2, ♠3, ♠4, ♠6)",0,1,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
"(♠A, ♠2, ♠3, ♠4, ♠7)",0,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
"(♠A, ♠2, ♠3, ♠4, ♠8)",0,1,1,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
"(♠A, ♠2, ♠3, ♠4, ♠9)",0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(♦8, ♦9, ♦10, ♦J, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,1,0
"(♦8, ♦9, ♦10, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,1
"(♦8, ♦9, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,1,1
"(♦8, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
"(♦9, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,1

In [3]:
%%time
df['ranking'] = df.index
df['ranking'] = df['ranking'].apply(lambda x: parse(str(x)[1:-1].split(", ")))
df

CPU times: total: 43.7 s
Wall time: 43.7 s

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,ranking
"(♠A, ♠2, ♠3, ♠4, ♠5)",0,1,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,STRAIGHT FLUSH
"(♠A, ♠2, ♠3, ♠4, ♠6)",0,1,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,FLUSH
"(♠A, ♠2, ♠3, ♠4, ♠7)",0,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,FLUSH
"(♠A, ♠2, ♠3, ♠4, ♠8)",0,1,1,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,FLUSH
"(♠A, ♠2, ♠3, ♠4, ♠9)",0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,FLUSH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(♦8, ♦9, ♦10, ♦J, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,1,0,FLUSH
"(♦8, ♦9, ♦10, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,1,FLUSH
"(♦8, ♦9, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,1,1,1,FLUSH
"(♦8, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,1,FLUSH
"(♦9, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,STRAIGHT FLUSH

In [4]:
# SHOWING RANDOM hand with its ranking

# for _ in range(10):
#     hand = choice(all_hands)
#     print(hand, df.at[hand, 'ranking'])

In [5]:
# df['ranking'].value_counts()

# CLASSIFICATION

##### Create rank_dict for renaming columns for future purposes in classification

In [6]:
rankings = df['ranking'].value_counts().index.to_list()
# rankings.reverse()
# print(rankings)

rank_dict = {}
for i, el in enumerate(rankings):
    rank_dict[el] = i
rank_dict

{'???': 0,
 'PAIR': 1,
 'TWO PAIRS': 2,
 'THREE': 3,
 'STRAIGHT': 4,
 'FLUSH': 5,
 'FULL HOUSE': 6,
 'FOUR': 7,
 'STRAIGHT FLUSH': 8,
 'ROYAL FLUSH': 9}

In [7]:
df['labels'] = df['ranking'].replace(rank_dict)
df

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,ranking,labels
"(♠A, ♠2, ♠3, ♠4, ♠5)",0,1,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,STRAIGHT FLUSH,8
"(♠A, ♠2, ♠3, ♠4, ♠6)",0,1,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,FLUSH,5
"(♠A, ♠2, ♠3, ♠4, ♠7)",0,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,FLUSH,5
"(♠A, ♠2, ♠3, ♠4, ♠8)",0,1,1,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,FLUSH,5
"(♠A, ♠2, ♠3, ♠4, ♠9)",0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,FLUSH,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(♦8, ♦9, ♦10, ♦J, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,FLUSH,5
"(♦8, ♦9, ♦10, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,1,1,FLUSH,5
"(♦8, ♦9, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,1,FLUSH,5
"(♦8, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,1,FLUSH,5
"(♦9, ♦10, ♦J, ♦Q, ♦K)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1,1,STRAIGHT FLUSH,8

# Splitting DATASET

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = df.drop(['ranking', 'labels'], axis=1).to_numpy()
y = df['labels'].to_numpy()

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Building RandomForestClassifier

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [12]:
%%time
rfc_model = RandomForestClassifier(random_state=1, n_jobs=-1)
rfc_model.fit(X_train, y_train)
rfc_prediction = rfc_model.predict(X_test)
rfc_score = accuracy_score(y_test, rfc_prediction)
print(rfc_model)
print(rfc_score)

RandomForestClassifier(n_jobs=-1, random_state=1)
0.9454576702475862
CPU times: total: 27min 19s
Wall time: 4min 9s

# Building Artificial Neural Networt

In [13]:
import tensorflow as tf
from tensorflow.keras import Sequential, layers

In [14]:
ANN = Sequential([
    layers.Flatten(input_shape=(52,)),
    
    layers.Dense(64, activation='relu'),
    
#     layers.Dropout(0.1),
    
    layers.Dense(len(rankings), activation='softmax')
])

ANN.compile(
    optimizer='adam',
    loss = 'sparse_categorical_crossentropy',
    metrics = ['accuracy']
)

ANN.fit(X_train, y_train, batch_size=256, epochs=5, validation_split=0.2)

Epoch 1/5
5686/5686 [==============================] - 24s 4ms/step - loss: 0.4669 - accuracy: 0.8556 - val_loss: 0.1727 - val_accuracy: 0.9580
Epoch 2/5
5686/5686 [==============================] - 21s 4ms/step - loss: 0.1251 - accuracy: 0.9704 - val_loss: 0.0967 - val_accuracy: 0.9784
Epoch 3/5
5686/5686 [==============================] - 21s 4ms/step - loss: 0.0835 - accuracy: 0.9806 - val_loss: 0.0726 - val_accuracy: 0.9832
Epoch 4/5
5686/5686 [==============================] - 21s 4ms/step - loss: 0.0642 - accuracy: 0.9853 - val_loss: 0.0576 - val_accuracy: 0.9875
Epoch 5/5
5686/5686 [==============================] - 21s 4ms/step - loss: 0.0520 - accuracy: 0.9885 - val_loss: 0.0483 - val_accuracy: 0.9884

In [15]:
_, ann_acc = ANN.evaluate(X_test, y_test, batch_size=256)

3046/3046 [==============================] - 8s 3ms/step - loss: 0.0479 - accuracy: 0.9885

In [16]:
print(f"RFC(acc): {round(rfc_score * 100, 3)}%")
print(f"ANN(acc): {round(ann_acc * 100, 3)}%")
print(f"Impovement ANN over RFC: {round(ann_acc / rfc_score * 100 - 100, 2)}%")

RFC(acc): 94.546%
ANN(acc): 98.849%
Impovement ANN over RFC: 4.55%

In [17]:
# dataset = tf.data.Dataset.from_tensor_slices((X, y))
# dataset = dataset.cache().batch(256).prefetch(tf.data.experimental.AUTOTUNE)
# _ = list(dataset.as_numpy_iterator())

# inputs = tf.keras.layers.Input((52,))
# x = tf.keras.layers.Dense(64, activation='relu')(inputs)
# x = tf.keras.layers.Dense(32, activation='relu')(x)
# outputs = tf.keras.layers.Dense(1, activation='softmax')(x)

# model = tf.keras.Model(inputs, outputs)
# model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
# model.fit(dataset, epochs=5)